& .content {
  flex-direction: column;

  & section {
    &.hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 61.8vh;
      max-height: 38.2em;
      margin: 0;
      padding: 2.36em 0;
      background: var(--header-bg-color);
      color: var(--header-text-color);

      & h2 {
        @chassis font-size large;
        letter-spacing: .618em;
        color: var(--header-text-color);
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
