& > header {
  padding: 3.82em 0;

  & .coming-soon {
    @chassis font-size small;
    font-weight: bold;
    text-transform: uppercase;
  }

  & h1 {
    margin-bottom: 1rem;
    @chassis font-size largest;
    color: var(--blue);
  }

  & p:last-child {
    margin: 0;
  }

  & author-control {
    display: flex;

    & .input-wrapper {
      flex: 1;
      @chassis apply inline-block margin-right;
    }
  }
}
