& section {
  margin-bottom: 3.82em;

  & h2 {
    @chassis font-size larger;
    color: var(--blue)
  }

  & ul {
    @chassis apply inline-block padding-left;
    padding-right: calc(var(--svg-icon-height) + (2 * var(--inline-block-padding-x)));

    & li {
      & author-icon {
        margin-right: var(--inline-block-padding-x);
      }
    }
  }

  &.signup {
    margin-bottom: 3.82em;
    padding: 2.36em 0;
    background: var(--grey-0);

    & p:first-of-type {
      color: var(--black);
      margin-bottom: 1em;
    }

    & author-control {
      @chassis vp-width < medium {
        & .input-wrapper {
          margin-bottom: 1em;
        }

        & button {
          width: 100%;
        }
      }

      @chassis vp-width > small {
        display: flex;

        & .input-wrapper {
          flex: 1;
          @chassis apply inline-block margin-right;
        }
      }
    }
  }

  &.features {
    & .screenshot {
      margin-bottom: 2.36em;
      overflow: hidden;

      box-shadow: 0.618em 0.618em 2.36em 0 rgba(0,0,0,.13);
      border-radius: var(--default-border-radius);

      & img {
        display: block;
        width: 100%;
      }
    }

    & ul {
      & li {
        & h3 {
          display: flex;
          align-items: center;
          margin: 0;

          & author-icon {
            margin-right: var(--inline-block-padding-x);
          }
        }

        & p {
          padding-left: calc(var(--svg-icon-height) + var(--inline-block-padding-x));
        }
      }
    }
  }

  &.collaborate {
    & ul {
      list-style-type: disc;

      & li {
        margin-left: var(--inline-block-padding-x);
      }
    }
  }

  &.go {
    & h2 {
      display: flex;

      & author-icon {
        width: 2em;
        height: auto;
        @chassis apply inline-block margin-left;
      }
    }
  }
}
