@chassis init;
@chassis include all;

body.metadoc {
  & .text-bold {
    font-weight: bold;
  }

  /* & .width.constraint {
    @chassis vp-width > medium {
      padding: 0;
    }
  } */

  & main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    @chassis import dir(layout);
  }

  @chassis import dir(components);
}
