@chassis init;
@chassis include all;

body.metadoc {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: var(--root-bg-color);

  /* @chassis import dir(components); */

  & main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    @chassis import dir(layout);
  }
}
